<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itchenyang.mapper.TrendManageMapper">
    <select id="getTrendCount" resultType="String">
        SELECT
            `count_trend`
        FROM
            ${table}
        WHERE
            `type` = #{modelType}
        <if test="modelName != null">
            AND `name` = #{modelName}
        </if>
    </select>

    <insert id="insertTrendCount" parameterType="Map">
        INSERT INTO t_model_type (`type`,`count_trend`)
        VALUES
        <foreach collection="maps" item="map" separator=",">
            (#{type},#{count_trend}
        </foreach>
        ON DUPLICATE KEY
        UPDATE `type` = VALUES(type),
        `count_trend` = VALUES(count_trend)
    </insert>
</mapper>